@using Portfotolio.Domain.Configuration
@using Portfotolio.Site4.Extensions
@model Portfotolio.Site.Services.Models.SettingsModel
<div id="licensing" class="standout">
    <p>
    </p>
    <a href="http://creativecommons.org">
        <img src="~/Content/cc.large.png" alt="creative commons" class="content-icon" />
    </a>
    <h2>Licensing information</h2>
    <div class="standout">
        This site only displays:
        <ul>
            <li>images with one of the <a href="https://secure.flickr.com/creativecommons/">creative
                commons licenses</a>, or</li>
            <li>copyrighted images on the explicit request of their author.</li>
        </ul>
    </div>
    <h2>Your pictures</h2>
    @if (Model.IsInitialized)
    {
        <div>
            Dear @Html.ActionLink(Model.UserName, "photos", "photo", new { id = Model.UserAlias }, null),
        </div>
    }
    @switch (Model.UserState)
    {
        case UserState.None:
        <div>
            If you don't see your pictures, you probably don't fall in the two categories above.
            If changing the licensing of your photos is not an option, you will need to authorize
            portfotolio to display your "all rights reserved" pictures.
            <br />
            To do so you will need to
            <ol style="list-style-type: decimal; margin-left: 3em">
                <li>@Html.ActionLink("Log in", "login", "account") with your flickr account. (This process
                    is <a href="http://www.flickr.com/help/website/#182">controlled by flickr</a>, we
                    only receive your user name and id. We won't get access to your password, private
                    pictures, or any other sensitive information.)</li>
                <li>Select the "All my public photos" option below (the green one).</li>
                <li>Press Save.</li>
            </ol>
            This will not affect the permissions and copyright related to your pictures, it will only authorize portfotolio to display them.
        </div>
            break;
        case UserState.Optout:
        <text> <span class="licensing-optout">None of your pictures are currently shown on this
            site.</span> Your landing page displays an error message, and your pictures
        are filtered out from all streams.
        </text>
            break;
        case UserState.Default:
        <text> <span class="licensing-default">Only your Creative Commons licensed public photos
            are visible on this site</span>. Pictures shared as "all rights reserved" will
        only display a placeholder.
        </text>
            break;
        case UserState.Optin:
        <text> <span class="licensing-optin">All your public pictures are visible on this site</span>.
        </text>
            break;
    }
    <p>
    </p>
    @using (Html.BeginForm())
    {
        <h2>Change your settings
        </h2>
        if (!Model.IsInitialized)
        {
        <p>
            After log in, you will be able to choose from the options below:
        </p>
        }
        <label>
            @if (Model.IsInitialized)
            {
                @Html.RadioButtonFor(model => model.UserState, UserState.Optout)
            }
            <span class='licensing-optout'>None of my pictures</span> should be visible on this
            site, hide me completely!
        </label>
        <br />
        <label>
            @if (Model.IsInitialized)
            {
                @Html.RadioButtonFor(model => model.UserState, UserState.Default)
            }
            <span class="licensing-default">Creative Commons</span> licensed public photos are
            allowed on this site, based on my flickr settings (default).
        </label>
        <br />
        <label>
            @if (Model.IsInitialized)
            {
                @Html.RadioButtonFor(model => model.UserState, UserState.Optin)
            }
            <span class="licensing-optin">All my public photos</span> can be displayed, based
            on my flickr settings.
        </label>
        <p />
        <p />
        @Html.HiddenFor(model => model.UserId)
            if (Model.IsInitialized)
            {
        <input type="submit" value="Save" />
            }
    }
    <h2>Need support?</h2>
    Feel free to <a href="@Html.Raw(Html.GetApplicationConfiguration().ContactUsLink)">contact me</a>
    with any of your questions, comments or concerns.
</div>
