@model Portfotolio.Site.Services.Models.TestModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>test page</title>
    <meta name="robots" content="noindex, nofollow, noarchive" />
</head>
<body>
    <div id="main">
        <table>
            <tbody>
                <tr>
                    <td>Current time:</td>
                    <td>@DateTime.Now</td>
                </tr>
                <tr>
                    <td>Started on:</td>
                    <td>@Model.StartedOn</td>
                </tr>
                <tr>
                    <td>Elements in cache:</td>
                    <td>@Model.ElementsInCache</td>
                </tr>
                <tr>
                    <td>GC total memory (Kb):</td>
                    <td>@Model.GcTotalMemory</td>
                </tr>
                <tr>
                    <td>Working set (Kb):</td>
                    <td>@Model.WorkingSet</td>
                </tr>
                <tr>
                    <td>Private memory (Kb):</td>
                    <td>@Model.PrivateMemory</td>
                </tr>
            </tbody>
        </table>
        @using (Html.BeginForm())
        {
            <input type="submit" value="GC.Collect" />
        }
    </div>
</body>
</html>
