@using Portfotolio.Site4.Extensions
@model Portfotolio.Domain.Album

    <div class="photoFrame">
        <div class="middleFrame">
            <div class="innerFrame">
                <a href="@Url.ActionUserId("album", new {id = Html.UserIdentifier(), secondaryId = Model.PhotosetId})">
                    <img class="photo" src="@Model.ImageUrl" title="@Model.Title" alt="@Model.Title" />
                    <div class="title">
                        @Model.Title
                    </div>
                </a>
            </div>
        </div>
    </div>
