@model Portfotolio.Domain.ListItem
@using Portfotolio.Site4.Extensions

<div class="listItem">
    <a href="@Url.ActionUserId("photos", new { id = Model.Id })" title="@Model.Name">
        <img src="@Model.ItemUrl" alt="@Model.Name" />
        <br />
        @Model.Name
    </a>
</div>