@using Portfotolio.Domain.Persistency
@using Portfotolio.Site4.Helpers

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Html.Display(DataKeys.BreadCrumb) ● portfotolio</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/jquery", "~/bundles/analytics")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <h1>
                    <a href="/">● port<span class="highlight">foto</span>lio ●</a>
                    @Html.Display(DataKeys.BreadCrumb)
                </h1>
                <div id="menucontainer">
                    <ul id="menu">
                        @Html.Partial("UserMenu")
                        <li><a class="highlight" href="@Url.Action("about", "home", new { id = UrlParameter.Optional })">What is this?</a></li>
                    </ul>
                </div>
                <hr />
                <div id="authenticationLink">
                    @Html.Display(DataKeys.AuthenticationInfo)
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <br/>
                <div id="hostingMessage">
                    This site lives happily on an application-friendly server.
                </div>
                <hr />
                <div id="creditsMessage">
                    This product uses the <a href='http://flickr.com/services/api/'>Flickr API</a> but
                    is not endorsed or certified by <a href='http://flickr.com'>Flickr</a>. It also
                    uses a modified <a href='http://www.codeplex.com/FlickrNet'>Flickr.NET</a> library.
                </div>
                <p />
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
