@using Portfotolio.Site4.Extensions
@using Portfotolio.Domain.Persistency

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        @Html.MetaRobots()
        <title>@Html.Display(DataKeys.BreadCrumb) ● portfotolio</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        @Styles.Render(BundleTable.Bundles.ResolveBundleUrl("~/Content/css"))
        @Scripts.Render(BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js"))
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <h1>
                    <a href="/">● port<span class="highlight">foto</span>lio ●</a>
                    @Html.Display(DataKeys.BreadCrumb)
                    <a href="@Url.Action("about", "home")" title="what is this?"><img src="~/Content/help.png" alt="help" class="action-icon"/></a>
                </h1>
                <div id="menucontainer">
                    @Html.Partial("UserMenu")
                </div>
                <hr />
                <div id="authenticationLink">
                    @Html.Partial("AuthenticationInfo")
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <br/>
                <div id="hostingMessage">
                    This site lives happily on an application-friendly server.
                </div>
                <hr />
                <div id="creditsMessage">
                    This product uses the <a href='http://flickr.com/services/api/'>Flickr API</a> but
                    is not endorsed or certified by <a href='http://flickr.com'>Flickr</a>. It also
                    uses a modified <a href='http://www.codeplex.com/FlickrNet'>Flickr.NET</a> library.
                </div>
                <p />
            </div>
        </footer>

        @RenderSection("scripts", required: false)
    </body>
</html>
