@using Portfotolio.Site4.Extensions
@using Portfotolio.Domain.Persistency

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        @Html.MetaRobots()
        <title>@Html.Display(DataKeys.BreadCrumb) ● portfotolio</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        @Styles.Render("~/bundles/css")
        @Scripts.Render("~/bundles/js")
		@Scripts.Render("~/bundles/jquery")
        
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <h1>
                    <a href="/">● port<span class="highlight">foto</span>lio ●</a>
                    @Html.Display(DataKeys.BreadCrumb)
                    <a href="@Url.Action("about", "home")" title="what is this?"><img src="~/Content/help.png" alt="help" class="header-icon"/></a>
                    <a href="@Url.Action("licensing", "settings")" title="licensing"><img src="~/Content/cc.png" alt="licensing" class="header-icon"/></a>
                </h1>
                <div id="menucontainer">
                    @Html.Partial("UserMenu")
                </div>
                <hr />
                @Html.Partial("LicensingInfo")
                <div id="authenticationLink">
                    @Html.Partial("AuthenticationInfo")
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <br/>
                <div id="hostingMessage">
                    This site lives happily on an application-friendly server.
                </div>
                <hr />
                <div id="creditsMessage">
                    This product uses the <a href='http://flickr.com/services/api/'>Flickr API</a> but
                    is not endorsed or certified by <a href='http://flickr.com'>Flickr</a>. It also
                    uses a modified <a href='http://www.codeplex.com/FlickrNet'>Flickr.NET</a> library.
                </div>
                <p />
            </div>
        </footer>
        
        <script>
            if (typeof jQuery == 'undefined') {
                var e = document.createElement('script');
                e.src = '@Url.Content("~/Scripts/jquery/jquery-1.8.3.js")';
                e.type = 'text/javascript';
                document.getElementsByTagName("head")[0].appendChild(e);
            }
        </script> 
        @RenderSection("scripts", required: false)
    </body>
</html>
