@using Portfotolio.Site4.Extensions

@{
    var userIdentifier = Html.UserIdentifier();
}

@if (userIdentifier != null)
{
    <li>@Html.ActionLinkUserId("Photos", "photos", "photo", new { id = userIdentifier }, new object())</li>
    <li>@Html.ActionLinkUserId("Albums", "albums", "photo", new { id = userIdentifier }, new object())</li>
    <li>|</li>
    <li>@Html.ActionLinkUserId("Favorites", "favorites", "photo", new { id = userIdentifier }, new object())</li>
    <li>@Html.ActionLinkUserId("Subscriptions", "subscriptions", "photo", new { id = userIdentifier }, new object())</li>
    <li>@Html.ActionLinkUserId("Recommendations", "recommendations", "photo", new { id = userIdentifier }, new object())</li>
    <li>|</li>
    <li>@Html.ActionLinkUserId("Groups", "groups", "photo", new { id = userIdentifier }, new object())</li>
    <li>@Html.ActionLinkUserId("Contacts", "contacts", "photo", new { id = userIdentifier }, new object())</li>
    <li>|</li>
}
