@using Portfotolio.Site4.Extensions

@{
    var userIdentifier = Html.UserIdentifier();
}

@if (userIdentifier != null)
{
    <li>@Html.ActionLink("Photos", "photos", "photo", new { id = userIdentifier }, new object())</li>
    <li>@Html.ActionLink("Albums", "albums", "photo", new { id = userIdentifier }, new object())</li>
    <li>|</li>
    <li>@Html.ActionLink("Favorites", "favorites", "photo", new { id = userIdentifier }, new object())</li>
    <li>@Html.ActionLink("Subscriptions", "subscriptions", "photo", new { id = userIdentifier }, new object())</li>
    <li>@Html.ActionLink("Recommendations", "recommendations", "photo", new { id = userIdentifier }, new object())</li>
    <li>|</li>
    <li>@Html.ActionLink("Groups", "groups", "photo", new { id = userIdentifier }, new object())</li>
    <li>@Html.ActionLink("Contacts", "contacts", "photo", new { id = userIdentifier }, new object())</li>
    <li>|</li>
}
