@using Portfotolio.Domain
@using Portfotolio.Site4.Extensions

@model DomainPhoto
@{
    const int slideWidth = 350;  // if you change these values, change them in CSS .slide as well
    const int slideHeight = 350; // if you change these values, change them in CSS .slide as well
    const int borderWidth = 5;   // if you change these values, change them in CSS .photo-link as well
    int frameWidth = Model.SmallWidth + 2 * borderWidth;
    int frameHeight = Model.SmallHeight + 2 * borderWidth;
    int frameLeft = (slideWidth - frameWidth) / 2;
    int frameTop = (slideHeight - frameHeight) / 2;
    int titleTop = frameTop + frameHeight + 10;
    int titleHeight = slideHeight - titleTop;
}

<div class="slide">
    <div class="photo-frame" style="left: @(frameLeft)px; top: @(frameTop)px">
        @if (Model.IsLicensed || Html.AuthenticationInfo().IsOmniViewer())
        {
            <a class="photo-link" 
               href="@Model.PageUrl" 
               style="background-image: url('@Model.SmallUrl'); width: @(Model.SmallWidth)px; height: @(Model.SmallHeight)px;" ></a>
        }
        else
        {
            <a class="photo-link" 
                href="@Model.PageUrl" 
                style="width: @(Model.SmallWidth)px; height: @(Model.SmallHeight)px;">
            </a>
            <a href="@Url.Action("licensing", "settings")" class="copyright" style="top: @(frameHeight-50)px; left: @(frameWidth-40)px" title="Copyrighted image. Click for more information.">&copy;</a>
        }
    </div>
    <div class="title-frame" style="top: @(titleTop)px; max-height: @(titleHeight)px">
        @(Html.ActionLinkUserId(Model.AuthorName ?? Model.AuthorAlias, "photos", new { id = Model.AuthorAlias })):
        <span class="title-text" title="@Model.Title">
            @Model.Title
        </span>
    </div>
</div>
