@model Simplickr.Authentication.OAuthAccessToken
<ul>
    <li>UserId: @Model.UserNsId</li>
    <li>UserName: @Model.UserName</li>
    <li>FullName: @Model.FullName</li>
    <li>Token: @Model.OAuthToken</li>
    <li>TokenSecret: @Model.OAuthTokenSecret</li>
</ul>
